:root {
  --primary-text-color: #ffffff;
  --acent-text-color: #2196f3;
  --secondary-text-color: #757575;
  --title-text-color: #212121;
}
header {
  font-family: Roboto;
}

ul {
  list-style-type: none;
}

.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--acent-text-color);
}
.link:hover,
:focus {
  color: var(--acent-text-color);
}
.logo-web {
  color: var(--acent-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  
}
.logo-stud {
  color: var(--title-text-color);
   font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
}
