/* background-color: var(--) ; */
/* text-decoration: none; */
body {
  font-family: Roboto;
}
:root {
  --primary-text-color: #ffffff;
  --acent-text-color: #2196f3;
  --secondary-text-color: #757575;
  --title-text-color: #212121;
}
header {
  /* font-family: Roboto; */
}

ul {
  list-style-type: none;
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--acent-text-color);
}
.link:hover,
.link:focus {
  color: var(--acent-text-color);
}
.site-nav .logo-web {
  color: var(--acent-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.site-nav .logo-stud {
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.site-nav .adress {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.adress:hover,
.adress:focus {
  color: var(--acent-text-color);
}
