/* color: #2196F3;  
/* color: #212121 */
/* color: #FFFFFF; */
/* color: #757575; */

:root {
  --primary-text-color: #ffffff;
  --acent-text-color: #2196f3;
  --secondary-text-color: #757575;
  --title-text-color: #212121;
}

ul {
  list-style-type: none;
}
